@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://use.typekit.net/eff0kvb.css");

.App {
  text-align: center;
}

body,
Text {
  font-family: "fira-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-family: 'Arimo', sans-serif; */
  background-color: #cbd5e0; /* gray.300 */
  margin-right: 6rem;
  margin-left: 6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}
