@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: #fffbf5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}