
img { 
    /* width: 200px; 
    height: 200px;  */
    /* border-radius: 50%;  */
}

.artistCards {
    display: flex; 
    justify-content: space-between;
    margin: 6rem; 
    padding-right: 10%; 
    padding-left: 10%; 
}

.artistCardContainer {
    width: 318px;
    height: 478px;
    left: 50px;
    top: 199px;
    margin: 1rem; 
    padding: 20px; 
    border: 2px solid black; 
}