.navList {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
}

.navListItem {
  padding: 10px;
}

.navbar {
  grid-column: 2;
}
