.navList {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.navListItem {
  pad1remding: ;
}

.navbar {
  grid-column: 2;
}
