.navList {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-right: 6rem;
  margin-left: 6rem;
}

.navListItem {
  text-decoration: none;
  font-size: 1.44em;
  color: #021714;
}

