<!-- <div style="border: 1px solid black">
  <h3>remove artists:</h3>
  ${artists.map(artist => `
  <form method="POST" action="/admin/artists/remove">
    <input type="hidden" name="artist_id" value="${artist.artist_id}" />
    <label>
      ${artist.firstname} ${artist.lastname}
      <button type="submit">Delete</button>
    </label>
  </form>
  `)}
</div> -->
<div id="editArtists">
  <div id="artistList">
    <p>New Artist</p>
    <button id="buttid_0" class="artistbutton" onclick="artistSelect(0)">
      Add New Artist
    </button>
    <p>Edit Artist</p>
    ${artists.map(artist=> `
    <button
      id="buttid_${artist.artist_id}"
      class="artistbutton"
      onclick="artistSelect(${artist.artist_id})"
    >
      ${artist.firstname} ${artist.lastname}
    </button>
    ` ).join('')}
  </div>
  <div>
    <div id="divid_0" class="artisthide">
      <form
        method="POST"
        action="/admin/artists/add"
        enctype="multipart/form-data"
      >
        <label
          >First Name
          <input name="firstname" type="text" />
        </label>
        <label
          >Last Name
          <input name="lastname" type="text" />
        </label>
        <label
          >City
          <input name="city" type="text" />
        </label>
        <label
          >Email
          <input name="email" type="email" />
        </label>
        <label
          >Picture
          <input name="portrait" type="file" />
        </label>
        <label
          >Blurb
          <textarea name="blurb" rows="5" cols="30"></textarea>
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
    ${artists.map(artist => `
    <div id="divid_${artist.artist_id}" class="artisthide">
      <form method="POST" action="/admin/artists/edit" id="artistform">
        <input type="hidden" name="artist_id" value="${artist.artist_id}" />
        <label
          >First Name
          <input name="firstname" type="text" value="${artist.firstname}" />
        </label>
        <label
          >Last Name
          <input name="lastname" type="text" value="${artist.lastname}" />
        </label>
        <label
          >City
          <input name="city" type="text" value="${artist.city}" />
        </label>
        <label
          >Email
          <input name="email" type="email" value="${artist.email}" />
        </label>
        <label
          >Blurb
          <textarea name="blurb" rows="5" cols="30">${artist.blurb}</textarea>
        </label>
        <button type="submit">Update</button>
      </form>
      <form method="POST" action="/admin/artists/remove" id="deleteForm">
        <input type="hidden" name="artist_id" value="${artist.artist_id}" />
        <label>
          Remove ${artist.firstname} ${artist.lastname}
          <button type="submit">Delete</button>
        </label>
      </form>
    </div>
    `).join('')}
  </div>
</div>
<script src="/scripts/adminArtists.js"></script>
