<div style="border: 1px solid black">
  <h3>add artist:</h3>
  <form method="POST" action="/admin/artists/add" enctype="multipart/form-data">
    <label
      >First Name
      <input name="firstname" type="text" />
    </label>
    <label
      >Last Name
      <input name="lastname" type="text" />
    </label>
    <label
      >City
      <input name="city" type="text" />
    </label>
    <label
      >Email
      <input name="email" type="email" />
    </label>
    <label
      >Picture
      <input name="portrait" type="file" />
    </label>
    <label
      >Blurb
      <textarea name="blurb" rows="5" cols="30"></textarea>
    </label>
    <button type="submit">Submit</button>
  </form>
</div>
<div style="border: 1px solid black">
  <h3>remove artists:</h3>
</div>
<div style="border: 1px solid black">
  <h3>edit artists:</h3>
</div>
