<div id="edit">
  <!-- Lists out the artists to edit starting with a new artist option 
  Onclick select runs a JS function that shows the selected artist page-->
  <div id="list" style="overflow:auto;height: 90vh;">
    <p>New Artist</p>
    <button id="buttid_0" class="button" onclick="select(0)">
      Add New Artist
    </button>
    <p>Edit Artist</p>
    ${artists.map(artist=> `
    <button
      id="buttid_${artist.artist_id}"
      class="button"
      onclick="select(${artist.artist_id})"
    >
      ${artist.firstname} ${artist.lastname}
    </button>
    ` ).join('')}
  </div>
  <div>
    <div id="divid_0" class="hide">
      <!-- Form pushes images and data to be added to the database -->
      <form
        method="POST"
        action="/admin/artists/add"
        enctype="multipart/form-data"
      >
        <label
          >First Name
          <input name="firstname" type="text" />
        </label>
        <label
          >Last Name
          <input name="lastname" type="text" />
        </label>
        <label
          >City
          <input name="city" type="text" />
        </label>
        <label
          >Email
          <input name="email" type="email" />
        </label>
        <label
          >Picture
          <input name="portrait" type="file" />
        </label>
        <label
          >Blurb
          <textarea name="blurb" rows="5" cols="30"></textarea>
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
    ${artists.map(artist => `
    <div id="divid_${artist.artist_id}" class="hide">
      <!-- Form populated by artist data pushes updated data to database -->
      <form method="POST" action="/admin/artists/edit" id="artistform">
        <input type="hidden" name="artist_id" value="${artist.artist_id}" />
        <label
          >First Name
          <input name="firstname" type="text" value="${artist.firstname}" />
        </label>
        <label
          >Last Name
          <input name="lastname" type="text" value="${artist.lastname}" />
        </label>
        <label
          >City
          <input name="city" type="text" value="${artist.city}" />
        </label>
        <label
          >Email
          <input name="email" type="email" value="${artist.email}" />
        </label>
        <label
          >Blurb
          <textarea name="blurb" rows="5" cols="30">${artist.blurb}</textarea>
        </label>
        <button type="submit">Update</button>
      </form>
      <form method="POST" action="/admin/artists/remove" id="deleteForm">
        <!-- Form removes artist -->
        <input type="hidden" name="artist_id" value="${artist.artist_id}" />
        <label>
          Remove ${artist.firstname} ${artist.lastname}
          <button type="submit">Delete</button>
        </label>
      </form>
    </div>
    `).join('')}
  </div>
</div>
<script src="/scripts/admin.js"></script>
