<!-- Template gives complete navbar for logged in user -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GAWD Admin</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <h2>GAWD Admin Panel</h2>
      <div>
        <a href="/admin/artists">Artists</a>
        <a href="/admin/artworks">Gallery</a>
        <a href="/admin/events">Events</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
    ${partial}
  </body>
</html>
