@import url("https://fonts.googleapis.com/css?family=Bitter|Lilita+One&display=swap");

.orgName {
  text-decoration: none;
  color: #f9f9f9;
}

.header {
  background-color: #021714;
  padding: 1rem;
  margin:0; 
}