@import url("https://fonts.googleapis.com/css?family=Bitter|Lilita+One&display=swap");

.orgName {
  text-decoration: none;
  color: #021714;
}

.header {
  /* background-color: #0D0D0D; */
  padding: 1rem;
  /* margin: 2rem; */
  /* border-bottom: 2px solid #021714; */
}