@import url('https://fonts.googleapis.com/css?family=Bitter|Lilita+One&display=swap');

html {
  padding: 0;
}

.headerContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.gridItem1 {
  grid-area: 1 / 1 / 2 / 2;
}
.gridItem2 {
  grid-area: 1 / 2 / 2 / 3;
}
.gridItem3 {
  grid-area: 1 / 3 / 2 / 4;
}

.orgName,
.cartButton {
  text-decoration: none;
}
